# Server
PORT=8080

# NeoHub (WhatsApp Broker)
NEOHUB_BASE_URL=https://broker-api.neobpo.com.br
NEOHUB_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaG9uZV9udW1iZXJfaWQiOiI3YWU0NDM5Mi03NzJjLTQzMzItYjQzMy00ZTUyYTYxNzU1MTYiLCJ1c2VyX2lkIjoiZjFlMTRjMWEtNzRiNS00MmRjLWJjY2MtNDIxNzcxZjAxNzIxIiwiYXBwX2lkIjoiM2Y2N2FlNDEtMDM2Yi00OWY3LTljNjMtODY0MmRlNWQ5ZmMzIn0.k5jR4Fs05NbpKrcgTENId59fdTNA5W0wVwmyz-_St5o
NEOHUB_WABA_ID=469310606260118
# WatsonX Assistant (IBM Watson Assistant v2)
WATSONX_BASE_URL=https://api.us-south.assistant.watson.cloud.ibm.com
WATSONX_API_KEY=s7rLQkAcaRtLo9R_R8A6QUKcw5DY6k1xteLCIPnFU4y9
WATSONX_ENVIRONMENT_ID=6e32be05-2c9e-4ac4-ba59-91da482ac43c
WATSONX_ASSISTANT_ID=03b582fd-b1ad-457b-b38f-c47b94e8e698
WATSONX_VERSION=2021-11-27
